## Игнорирование всех файлов с расширением .log за исключением файлов с этим разрешением в корневой папке apache
*.log
!/apache/*.log

## Игнорирование корневой папки bin
/bin

## Игнорирование файлов, начинающихся на tmp, находящихся в корневой папке dist или её подпапках
dist/**/tmp*
